.container {
  width: 67.7%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.font-arial {
  font-family: Arial;
}

.font-roboto {
  font-family: Roboto;
}

.font-size-sm {
  font-size: 0.75em;
}

.font-size-md {
  font-size: 0.875em;
}

.font-size-lg {
  font-size: 1.25em;
}

.regular {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.primary-color {
  color: #3088CA;
}

.secondary-color {
  color: #999999;
}

.terciary-color {
  color: #39EA5F;
}

.quarternary-color {
  color: #FF6363;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.background-transparent {
  background-color: transparent;
}
