.container {
  margin-left: 130px;
  margin-right: 130px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.font-arial-bold {
  font-family: Arial;
  font-weight: bold;
}

.font-roboto-regular {
  font-family: Roboto;
  font-weight: normal;
}

.primary-color {
  color: #3088CA;
}

.secondary-color {
  color: #999999;
}
